@font-face {
    font-family: 'Inter';
    src: url('./Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSansBold';
    src: url('./NotoSans/NotoSansBold/NotoSansBold.eot');
    src: local('./NotoSans/NotoSansBold/NotoSansBold'),
        url('./NotoSans/NotoSansBold/NotoSansBold.eot?#iefix') format('embedded-opentype'),
        url('./NotoSans/NotoSansBold/NotoSansBold.woff') format('woff'),
        url('./NotoSans/NotoSansBold/NotoSansBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('./rf-dewi/RFDewiExpanded-Black.eot');
    src: local('./rf-dewi/RF Dewi Expanded Black'), local('./rf-dewi/RFDewiExpanded-Black'),
        url('./rf-dewi/RFDewiExpanded-Black.eot?#iefix') format('embedded-opentype'),
        url('./rf-dewi/RFDewiExpanded-Black.woff2') format('woff2'),
        url('./rf-dewi/RFDewiExpanded-Black.woff') format('woff'),
        url('./rf-dewi/RFDewiExpanded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('./sf-ui-display/sf-ui-display-bold.otf');
    font-weight: normal;
    font-style: normal;
}